<!doctype html>
<html>
  <head>
    <title>Real Time Leaderboard</title>
    
	<link rel="stylesheet" type="text/css" href="login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<style>      
      .formmessage { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      .formmessage input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      .formbutton { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
  
  <div >
    <h1><span>Leader Board</span></h1>
    
</div>
 <ul id="messages"></ul>
    <form action="" class="formmessage">
<button class="formbutton" id="m">Send</button>
    </form>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
  $(function () {
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text("the user scores is:"+msg));
    });
  });
</script>

  	
   

  </body>
</html>
