<!doctype html>
<html>
  <head>
    <title>OhTheHumanity</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://use.fontawesome.com/47386ccac3.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>
		<script src="login.js"></script>
  </head>

  <body>
	  <div class="imgcontainer">
	    <img src="./images/user_photo.png" alt="Avatar" class="avatar">
	  </div>
    <div class="container">

			<label><b>Email</b></label>
			<input id="email" type="text" placeholder="Enter Email (you@example.com)" name="email" required>
			<label><b>Password</b></label>
			<input id="password" type="password" placeholder="Enter Password" name="password" required>
			<button id="submitlogin" type="submit" value="login">Login</button>

	    <form mehtod ="get" action="/signup"> 
       		<button name="signup" value="signup">Sign Up</button>
      </form>

	    <input type="checkbox" checked="checked"> Remember me
	  </div>

	  <div class="container" style="background-color:#f1f1f1">
	    <button type="button" class="cancelbtn">Cancel</button>
	    <span class="psw">Forgot <a href="#">password?</a></span>
	  </div>
	
  </body>

</html>
