<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="validation.js"></script>
</head>
<body>

<form action="/registration" name="playerRegistration" method ="post" onsubmit="return(validate());">

<table cellpadding="2" width="90%" class ="registation_Table" align="center"
cellspacing="2">

<tr>
<td colspan=4>
<center><font size=6><b>Registration Form</b></font></center>
</td>
</tr>

<tr>
<td>Full Name</td>
<td><input type=text name="fullname" id="fullname" placeholder="Full name"size="30"></td>
</tr>

<tr>
<td>Username</td>
<td><input type="text" name="username" id="username" placeholder="Username" size="30"></td>
</tr>
<tr>
<td>Password</td>
<td><input type="password" name="password" id="pass1" placeholder="Password" size="30"></td>

</tr>
<tr>
<td>Re-password</td>
<td><input type="password" name="repassword" placeholder="Password" id="pass2" onkeyup="checkPass(); return false;" size="30"></td>
</tr><tr><td></td><td><span id="confirmMessage" class="confirmMessage"></span></td></tr>

<tr>
<td>Avatar</td>
<td><input type="text" name="avatar" id="avatar" placeholder="avatar" size="30"></td>
</tr>

<tr>
<td>Email</td>
<td><input type="text" name="email" id="email" placeholder="user@gmail.com" size="30"></td>
</tr>
</table>
<tr>
<div align="center">
<font size="5"><b><input type="reset"></b>
<b><input type="submit" value="Submit"/></b></font></tr>
</form>
</div>
</body>
</html>