<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="regi.css">
	<script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>	
	<script type="text/javascript" src="validation.js"></script>
</head>
<body>

<div name="playerRegistration">
<div class = "image">
   <img src="/intro.jpg" alt="intro" class = "intro-background">
  <div id = "neon-fonts">
   <h2 class = "welcome"><span>Welcome</span></h2>
   <h2 class = "new_player"><span>Challenger</span></h2>
  </div>
<div class ="registation_Table" >






<div class = "font-setting">


<label><b>Name</b></label>
<input type="text" name="username" id="username" placeholder="Username" >

<label><b>Password</b></label>
<input type="password" name="password" id="pass1" placeholder="Password" >

<label><b>Re-Pass</b></label>
<input type="password" name="repassword" placeholder="Password" id="pass2" onkeyup="checkPass(); return false;" >
<span id="confirmMessage" class="confirmMessage"></span>


<div><label><b>Avatar</b></label></div>

<span id = "avatar1"><img src="/guy.png" class = "avatar_img"></span>
<span id = "avatar2"><img src="/man.png" class = "avatar_img"></span>
<span id = "avatar3"><img src="/teacher.png" class = "avatar_img"></span>
<span id = "avatar4"><img src="/woman.png" class = "avatar_img"></span>
<span id = "avatar5"><img src="/woman2.png" class = "avatar_img"></span>
<span id = "avatar6"><img src="/woman3.png" class = "avatar_img"></span>
<div class = "hidden_control">
<input type="text" name="avatar" id="avatar" placeholder="1" >
</div>

<div><label><b>Email</b></label></div>
<input type="text" name="email" id="email" placeholder="user@gmail.com">

</div>

<div align="center">

<button id="registrationsubmit" type="submit" value="Submit">SignUp</button>
</font>

</div>

</div>
</div>
</div>
</body>
</html>